.product {
  display: flex;
  flex-direction: column;
  z-index: 1;
  align-items: center;
  justify-content: flex-s;
  margin: 10px;
  padding: 20px;
  width: 100%;
  min-width: 100px;
  max-height: 400px;
  background-color: white;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  background: #f5ce00;
  border-radius: 50px;
  border: transparent;
  margin-top: 10px;
  color: #111;
}

.product_info {
  height: 100px;
  margin-bottom: 15px;
}

.product_price {
  margin-top: 5px;
}

.product_rating {
  display: flex;
}
